apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ _selenium_name }}-selenium-node-firefox"
  namespace: "{{ _selenium_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ _selenium_name }}"
      deployment: selenium-node-firefox
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        app: "{{ _selenium_name }}"
        deployment: selenium-node-firefox
    spec:
      serviceAccountName: "{{ _selenium_name }}"
      containers:
      - name: selenium-node-firefox
        image: "{{ _selenium_node_firefox_image }}:{{ _selenium_node_firefox_image_tag }}"
        imagePullPolicy: "{{ _selenium_image_pull_policy }}"
        env:
        - name: HUB_HOST
          value: "{{ _selenium_name }}-selenium-hub"
        - name: HUB_PORT_PARAM
          value: "4444"
        ports:
        - containerPort: 5555
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /status
            port: 5555
            scheme: HTTP
          initialDelaySeconds: 15
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /status
            port: 5555
            scheme: HTTP
          initialDelaySeconds: 15
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            memory: "1000Mi"
            cpu: ".5"
